<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.data" type="System.Data.Common.DbProviderConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- La base de données SQLite est créée automatiquement au premier lancement dans le dossier Data\. -->
    <add name="SmartCreche"
         connectionString="Data Source=|DataDirectory|\SmartCreche.db;Version=3;Foreign Keys=True;"
         providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="NomCreche" value="SmartCrèche" />
    <add key="DeviseSymbole" value="DH" />
    <add key="TarifMensuelParDefaut" value="800" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
